* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgb(12, 51, 182);
  display: flex;
  justify-content: flex-end;
  padding: 2.8em 3em;
}

#navbar {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
 
 
  
}

#navbar li {
  margin-right: 1em;
  font-size: 1.5em;
  padding: .2em;
  border: 2px solid red;
 
}

#navbar li a {
  text-decoration: none;
  color: #fff;
  display: block;
}

i {
  background: none;
}
.fa-solid {
  color: #fff;
  font-size: 3em;
 
}


#mobile {
 display: none;
 transition: 0.3s ease-in-out;
 
}

button {
  outline: none;
  background: none;
  border: none;
}

@media only screen and (max-width: 769px) {

  nav {
    display: flex;
    
  }

  #navbar {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 8em;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: aqua;
    padding: 2em 2em;
  }

  #navbar.active {
    right: 0px;
  }


  #mobile {
    display: block;
  }

  #navbar li {
    border: none;
    margin-bottom: 2em;
    margin-top: .2em;
    border: none;

  
  }

  #navbar li a {
    text-decoration: none;
    color: #000 !important;
    display: block;
    
  
  }
}
